apiVersion: nnf.cray.hpe.com/v1alpha10
kind: NnfStorageProfile
metadata:
  name: template
  namespace: nnf-system
data:
  default: false
  gfs2Storage:
    blockDeviceCommands:
      computeCommands:
        lvChange:
          activate: --activate ys $VG_NAME/$LV_NAME
          deactivate: --activate n $VG_NAME/$LV_NAME
        userCommands: {}
        vgChange:
          lockStart: --lock-start $VG_NAME
          lockStop: --lock-stop $VG_NAME
      rabbitCommands:
        lvChange:
          activate: --activate ys $VG_NAME/$LV_NAME
          deactivate: --activate n $VG_NAME/$LV_NAME
        lvCreate: --zero n --activate n --size $LV_SIZE --stripes $DEVICE_NUM
          --stripesize=32KiB --name $LV_NAME $VG_NAME
        lvRemove: $VG_NAME/$LV_NAME
        lvmRebuild: {}
        pvCreate: $DEVICE
        pvRemove: $DEVICE
        userCommands: {}
        vgChange:
          lockStart: --lock-start $VG_NAME
          lockStop: --lock-stop $VG_NAME
        vgCreate: --shared --addtag $JOBID $VG_NAME $DEVICE_LIST
        vgRemove: $VG_NAME
      sharedVg: true
    capacityScalingFactor: "1.0"
    allocationPadding: 300MiB
    fileSystemCommands:
      computeCommands:
        mount: $DEVICE $MOUNT_PATH
        userCommands: {}
      rabbitCommands:
        mkfs: -j2 -p $PROTOCOL -t $CLUSTER_NAME:$LOCK_SPACE $DEVICE
        mount: $DEVICE $MOUNT_PATH
        userCommands: {}
    userCommands:
      postSetup:
      - chown $USERID:$GROUPID $MOUNT_PATH
  lustreStorage:
    combinedMgtMdt: true
    mgtOptions:
      capacity: 5GiB
      commandlines:
        zpoolCreate: -O canmount=off -o cachefile=none $POOL_NAME $DEVICE_LIST
        mkfs: --mgs --backfstype=$BACKFS --mkfsoptions="nnf:jobid=$JOBID" $ZVOL_NAME
        mountTarget: $ZVOL_NAME $MOUNT_PATH
      colocateComputes: false
      count: 1
      preMountCommands:
      - lctl set_param -P osc.$FS_NAME-*.max_rpcs_in_flight=64
      - lctl set_param -P osc.$FS_NAME-*.max_dirty_mb=2000
      - lctl set_param -P osc.$FS_NAME-*.checksums=1
      - lctl set_param -P osc.$FS_NAME-*.max_pages_per_rpc=4096
      - lctl set_param -P osc.$FS_NAME-*.grant_shrink=0
      - lctl set_param -P llite.$FS_NAME-*.max_read_ahead_mb=512
      - lctl set_param -P llite.$FS_NAME-*.max_read_ahead_per_file_mb=512
      - lctl set_param -P mdc.$FS_NAME-*.max_rpcs_in_flight=64
      - lctl set_param -P mdt.$FS_NAME-*.enable_remote_dir_gid=-1
      - lctl set_param -P obdfilter.$FS_NAME-*.brw_size=16
      - lctl set_param -P osp.$FS_NAME-*-osc-*.max_rpcs_in_progress=65536
      - lctl set_param -P *.$FS_NAME-*.job_cleanup_interval=21600
      - lctl set_param -P bulk_timeout=127
      - lctl set_param -P ldlm.lock_reclaim_threshold_mb=16993
      - lctl set_param -P ldlm.lock_limit_mb=25747
      - lctl conf_param $FS_NAME.sys.timeout=200
      - lctl conf_param $FS_NAME-MDT*.lov.qos_threshold_rr=100
      - lctl conf_param $FS_NAME-OST*.osc.checksums=1
      - lctl conf_param $FS_NAME-OST*.osc.resend_count=43
    mdtOptions:
      capacity: 5GiB
      exclusive: false
      commandlines:
        zpoolCreate: -O canmount=off -o cachefile=none $POOL_NAME $DEVICE_LIST
        mkfs: --mdt --backfstype=$BACKFS --fsname=$FS_NAME --mgsnode=$MGS_NID --index=$INDEX
          --mkfsoptions="nnf:jobid=$JOBID" $ZVOL_NAME
        mountTarget: $ZVOL_NAME $MOUNT_PATH
        postActivate:
        - mountpoint $MOUNT_PATH
      colocateComputes: false
      count: 1
    mgtMdtOptions:
      capacity: 5GiB
      commandlines:
        zpoolCreate: -O canmount=off -o cachefile=none $POOL_NAME $DEVICE_LIST
        mkfs: --mgs --mdt --backfstype=$BACKFS --fsname=$FS_NAME --index=$INDEX --mkfsoptions="nnf:jobid=$JOBID"
          $ZVOL_NAME
        mountTarget: $ZVOL_NAME $MOUNT_PATH
        postActivate:
        - mountpoint $MOUNT_PATH
      colocateComputes: false
      count: 1
    ostOptions:
      capacityScalingFactor: "1.0"
      commandlines:
        zpoolCreate: -O canmount=off -o cachefile=none $POOL_NAME $DEVICE_LIST
        mkfs: --ost --backfstype=$BACKFS --fsname=$FS_NAME --mgsnode=$MGS_NID --index=$INDEX
          --mkfsoptions="nnf:jobid=$JOBID" $ZVOL_NAME
        mountTarget: $ZVOL_NAME $MOUNT_PATH
        postActivate:
        - mountpoint $MOUNT_PATH
      colocateComputes: true
      scale: 5
    clientOptions:
      commandlines:
        mountCompute: $MGS_NID:/$FS_NAME $MOUNT_PATH
        mountRabbit: $MGS_NID:/$FS_NAME $MOUNT_PATH
        rabbitPostSetup:
        - lfs setstripe -E 64K -L mdt -E 16m -c 1 -S 16m -E 1G -c 2 -E 4G -c 4 -E 16G
          -c 8 -E 64G -c 16 -E -1 -c -1 $MOUNT_PATH
  pinned: false
  rawStorage:
    blockDeviceCommands:
      computeCommands:
        lvChange:
          activate: --activate y $VG_NAME/$LV_NAME
          deactivate: --activate n $VG_NAME/$LV_NAME
        userCommands: {}
      rabbitCommands:
        lvChange:
          activate: --activate y $VG_NAME/$LV_NAME
          deactivate: --activate n $VG_NAME/$LV_NAME
        lvCreate: --zero n --activate n --size $LV_SIZE --stripes $DEVICE_NUM
          --stripesize=32KiB --name $LV_NAME $VG_NAME
        lvRemove: $VG_NAME/$LV_NAME
        lvmRebuild: {}
        pvCreate: $DEVICE
        pvRemove: $DEVICE
        userCommands: {}
        vgCreate: --addtag $JOBID $VG_NAME $DEVICE_LIST
        vgRemove: $VG_NAME
      sharedVg: true
    capacityScalingFactor: "1.0"
    allocationPadding: 300MiB
    fileSystemCommands:
      computeCommands:
        mount: -o bind $DEVICE $MOUNT_PATH
        userCommands: {}
      rabbitCommands:
        mount: -o bind $DEVICE $MOUNT_PATH
        userCommands: {}
    userCommands: {}
  xfsStorage:
    blockDeviceCommands:
      computeCommands:
        lvChange:
          activate: --activate y $VG_NAME/$LV_NAME
          deactivate: --activate n $VG_NAME/$LV_NAME
        userCommands: {}
      rabbitCommands:
        lvChange:
          activate: --activate y $VG_NAME/$LV_NAME
          deactivate: --activate n $VG_NAME/$LV_NAME
        lvCreate: --zero n --activate n --size $LV_SIZE --stripes $DEVICE_NUM
          --stripesize=32KiB --name $LV_NAME $VG_NAME
        lvRemove: $VG_NAME/$LV_NAME
        lvmRebuild: {}
        pvCreate: $DEVICE
        pvRemove: $DEVICE
        userCommands: {}
        vgCreate: --addtag $JOBID $VG_NAME $DEVICE_LIST
        vgRemove: $VG_NAME
      sharedVg: true
    capacityScalingFactor: "1.0"
    allocationPadding: 300MiB
    fileSystemCommands:
      computeCommands:
        mount: $DEVICE $MOUNT_PATH
        userCommands: {}
      rabbitCommands:
        mkfs: $DEVICE
        mount: $DEVICE $MOUNT_PATH
        userCommands: {}
    userCommands:
      postSetup:
      - chown $USERID:$GROUPID $MOUNT_PATH
