
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.7.0
  creationTimestamp: null
  name: nnfdatamovements.nnf.cray.hpe.com
spec:
  group: nnf.cray.hpe.com
  names:
    kind: NnfDataMovement
    listKind: NnfDataMovementList
    plural: nnfdatamovements
    singular: nnfdatamovement
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Current state
      jsonPath: .status.state
      name: STATE
      type: string
    - description: Status of current state
      jsonPath: .status.status
      name: STATUS
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: AGE
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: NnfDataMovement is the Schema for the datamovements API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: NnfDataMovementSpec defines the desired state of DataMovement
            properties:
              cancel:
                description: Set to true if the data movement operation should be
                  canceled.
                type: boolean
              destination:
                description: Destination describes the destination of the data movement
                  operation
                properties:
                  path:
                    description: Path describes the location of the user data relative
                      to the storage instance
                    type: string
                  storageReference:
                    description: Storage describes the storage backing this data movement
                      specification; Storage can reference either NNF storage or global
                      Lustre storage depending on the object references Kind field.
                    properties:
                      apiVersion:
                        description: API version of the referent.
                        type: string
                      fieldPath:
                        description: 'If referring to a piece of an object instead
                          of an entire object, this string should contain a valid
                          JSON/Go field access statement, such as desiredState.manifest.containers[2].
                          For example, if the object reference is to a container within
                          a pod, this would take on a value like: "spec.containers{name}"
                          (where "name" refers to the name of the container that triggered
                          the event) or if no container name is specified "spec.containers[2]"
                          (container with index 2 in this pod). This syntax is chosen
                          only to have some well-defined way of referencing a part
                          of an object. TODO: this design is not final and this field
                          is subject to change in the future.'
                        type: string
                      kind:
                        description: 'Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                        type: string
                      name:
                        description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                        type: string
                      namespace:
                        description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                        type: string
                      resourceVersion:
                        description: 'Specific resourceVersion to which this reference
                          is made, if any. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency'
                        type: string
                      uid:
                        description: 'UID of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids'
                        type: string
                    type: object
                type: object
              groupId:
                description: Group Id specifies the group ID for the data movement
                  operation. This value is used in conjunction with the user ID to
                  ensure the user has valid permissions to perform the data movement
                  operation.
                format: int32
                type: integer
              source:
                description: Source describes the source of the data movement operation
                properties:
                  path:
                    description: Path describes the location of the user data relative
                      to the storage instance
                    type: string
                  storageReference:
                    description: Storage describes the storage backing this data movement
                      specification; Storage can reference either NNF storage or global
                      Lustre storage depending on the object references Kind field.
                    properties:
                      apiVersion:
                        description: API version of the referent.
                        type: string
                      fieldPath:
                        description: 'If referring to a piece of an object instead
                          of an entire object, this string should contain a valid
                          JSON/Go field access statement, such as desiredState.manifest.containers[2].
                          For example, if the object reference is to a container within
                          a pod, this would take on a value like: "spec.containers{name}"
                          (where "name" refers to the name of the container that triggered
                          the event) or if no container name is specified "spec.containers[2]"
                          (container with index 2 in this pod). This syntax is chosen
                          only to have some well-defined way of referencing a part
                          of an object. TODO: this design is not final and this field
                          is subject to change in the future.'
                        type: string
                      kind:
                        description: 'Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                        type: string
                      name:
                        description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                        type: string
                      namespace:
                        description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                        type: string
                      resourceVersion:
                        description: 'Specific resourceVersion to which this reference
                          is made, if any. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency'
                        type: string
                      uid:
                        description: 'UID of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids'
                        type: string
                    type: object
                type: object
              userId:
                description: User Id specifies the user ID for the data movement operation.
                  This value is used in conjunction with the group ID to ensure the
                  user has valid permissions to perform the data movement operation.
                format: int32
                type: integer
            type: object
          status:
            description: DataMovementStatus defines the observed state of DataMovement
            properties:
              endTime:
                description: EndTime reflects the time at which the Data Movement
                  operation ended.
                format: date-time
                type: string
              message:
                description: Message contains any text that explains the Status.
                type: string
              startTime:
                description: StartTime reflects the time at which the Data Movement
                  operation started.
                format: date-time
                type: string
              state:
                description: Current state of data movement.
                enum:
                - Starting
                - Running
                - Finished
                type: string
              status:
                description: Status of the current state.
                enum:
                - Success
                - Failed
                - Invalid
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
